- var scripts = [{file: 'js/jquery-1.12.4.min.js', version: '20191114'}, {file: 'js/bootstrap.build.js', version: '20191114'}, {file: 'js/owl.carousel.min.js', version: '20191114'}, {file: 'js/site.build.js', version: '20191119'}];

each scriptItem in scripts
	script(src=scriptItem.file + '?v=' + scriptItem.version)

block scripts