- var scripts = [{file: 'js/jquery-1.12.4.min.js', version: '20191112'}, {file: 'js/bootstrap.build.js', version: '20191112'}, {file: 'js/site.build.js', version: '20191112'}];

each scriptItem in scripts
	script(src=scriptItem.file + '?v=' + scriptItem.version)

block scripts