include ../mixins/_list.pug

doctype html

html(lang="ru" dir="ltr")
	head
		include _head.pug

	body
		block top

		main.main
			block content

		include ../blocks/footer/_base.pug

		include _scripts.pug