include ../blocks/logo/_mixin.pug
include ../blocks/menu/_mixin.pug

include ../blocks/header/_mixin.pug
include ../blocks/nav/_mixin.pug

include ../blocks/breadcrumbs/_mixin.pug

include ../blocks/posts-item/_mixin.pug

include ../blocks/pagination/_mixin.pug

include _map-scripts-mixin.pug