.advantage {
	&-item {
		@include media-breakpoint-down('sm') {
			margin-bottom: 2em;
		}

		&::before {
			$size: 35px;

			display: block;
			width: $size;
			height: $size;
			content: '';
			background: {
				repeat: no-repeat;
				size: contain;
			}

			@include media-breakpoint-up('lg') {
				margin-bottom: 1.5em;
			}

			@include media-breakpoint-down('md') {
				margin-bottom: 1em;
			}
		}

		@each $ico in $advantage-icons {
			&._#{$ico} {
				&::before {
					background-image: url('#{$img-dir}#{$ico}.svg');
				}
			}
		}

		&-title {
			font-weight: $font-weight-semibold;
			line-height: 1.2;
			color: $gray-900;

			@include media-breakpoint-up('lg') {
				font-size: 1.125rem;
			}
		}

		&-info {
			margin-top: 1em;
		}
	}
}