.adv {
	&-inner {
		padding: 2.875rem 17%;
		color: $white;
	}

	&-info {
		&-title {
			font: {
				size: 1.375rem;
				weight: $font-weight-semibold;
			}
		}

		&-text {
			margin-top: .5em;
			opacity: .6;
		}
	}
}