.contacts {
	&-item {
		@include media-breakpoint-up('lg') {
			margin-bottom: 2.5em;
		}

		@include media-breakpoint-down('md') {
			margin-bottom: 1em;
		}

		&-title {
			margin-bottom: .5em;
			font-weight: $font-weight-semibold;
			color: $gray-900;

			@include media-breakpoint-up('lg') {
				font-size: 1.125rem;
			}

			@include media-breakpoint-down('md') {
				font-size: 1rem;
			}

			.tel {
				font-size: 1.375rem;
			}

			a {
				color: inherit;
			}
		}

		a {
			color: inherit;
		}
	}

	&-map {
		height: 270px;

		@include media-breakpoint-up('lg') {
			margin-top: 5em;
		}

		@include media-breakpoint-down('md') {
			margin-top: 2em;
		}
	}
}