.form {
	background-color: $white;
	box-shadow: 0 15px 20px 0 rgba($gray-600, .05);

	@include media-breakpoint-up('lg') {
		$padding: 2.5em;

		padding: $padding $padding $padding * .3;
	}

	@include media-breakpoint-down('md') {
		$padding: 1em;

		padding: $padding $padding $padding * .3;
	}

	&-title,
	&-info {
		line-height: 1.2;
		text-align: center;
	}

	&-info {
		margin: {
			top: -1em;
			bottom: 2em;
		}
	}

	&-accept {
		font-size: .875rem;
		color: $gray-900;
	}
}