.header {
	position: relative;
	padding: $grid-gutter-width * .5 0;
	z-index: 4;

	&:not(._home) {
		color: $gray-900;

		@include media-breakpoint-down('md') {
			box-shadow: 0 6px 20px 0 rgba($black, .05);
		}
	}

	@include media-breakpoint-up('lg') {
		border-bottom: {
			width: 2px;
			style: solid;
		}
	}

	&:not(._home) {
		@include media-breakpoint-up('lg') {
			border-bottom-color: rgba($black, .15);
		}
	}

	&._home {
		position: relative;

		@include media-breakpoint-up('lg') {
			border-bottom-color: rgba($white, .15);
		}
	}

	&-home {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		color: $white;
	}

	&-logo {
		margin-bottom: 0;
	}

	&-tel {
		font: {
			family: $font-sub;
			size: 1.125rem;
			weight: $font-weight-semibold;
		}
		letter-spacing: .1em;

		@include media-breakpoint-down('md') {
			font-size: 1rem;
			letter-spacing: 0;
			color: $gray-900;
		}

		&-link {
			margin-right: 1em;
			text-decoration: none;

			&,
			&:hover {
				color: inherit;
			}
		}
	}
}