.header {
	padding: $grid-gutter-width * .5 0;

	&._home {
		position: relative;

		@include media-breakpoint-up('lg') {
			border-bottom: 2px solid rgba($white, .15);
		}
	}

	&-home {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		color: $white;
	}

	&-logo {
		margin-bottom: 0;
	}

	&-tel {
		font: {
			family: $font-sub;
			size: 1.125rem;
			weight: $font-weight-semibold;
		}
		letter-spacing: .1em;

		@include media-breakpoint-down('md') {
			font-size: 1rem;
			letter-spacing: 0;
			color: $gray-900;
		}

		&-link {
			margin-right: 1em;

			&,
			&:hover {
				color: inherit;
			}
		}
	}
}