.logo {
	display: inline-block;
	margin-bottom: 0;
	vertical-align: top;
	color: $gray-900;

	&._home {
		color: inherit;
	}

	&._main {
		margin-bottom: 1.5em;
	}

	&-title {
		display: block;
		font: {
			family: $font-sub;
			weight: $font-weight-extrabold;
		}
		text: {
			align: center;
			transform: uppercase;
		}
		letter-spacing: .33em;

		@include media-breakpoint-between('sm', 'md') {
			font-size: .75rem;
		}

		@include media-breakpoint-down('sm') {
			font-size: .5rem;
		}

		&._main {
			margin-top: .4em;
			font-size: 1.125rem;
		}

		.d-flex > & {
			margin-left: 2em;
		}
	}

	&-link {
		&,
		&:hover {
			color: inherit;
		}
	}

	&-thumb {
		&._home,
		&._nav {
			@include media-breakpoint-between('md', 'md') {
				width: 60px;
			}

			@include media-breakpoint-down('sm') {
				width: 32px;
			}
		}
	}
}