.menu {
	&._home {
		.dropdown-menu {
			border-bottom: 2px solid rgba($white, .15);
		}

		.nav-item {
			@include media-breakpoint-up('xl') {
				padding-right: 1.9rem;
			}
		}

		li {
			font-weight: $font-weight-semibold;
		}

		a {
			color: inherit;

			&:hover {
				color: $secondary;
			}
		}
	}

	&-item {
		&-has-children {
			position: relative;

			> a::after {
				$size: .625rem;

				display: inline-block;
				position: relative;
				top: -.1em;
				width: $size;
				height: $size;
				margin-left: .7em;
				border: {
					width: 2px;
					style: none solid solid none;
				}
				content: '';
				transform: rotate(45deg);
			}
		}
	}

	.nav-item {
		&:hover {
			> .dropdown-menu {
				display: block;
			}
		}
	}

	.dropdown {
		&-menu {
			display: none;
			left: $navbar-nav-link-padding-x;
			right: $navbar-nav-link-padding-x;
			padding-bottom: .8em;
		}

		&-item {
			display: block;
			margin: .3em 0;
		}
	}
}