.posts {
	&-list {
		border-bottom: 1px solid $border-color;
	}

	&-item {
		@include media-breakpoint-up('md') {
			margin-bottom: 5em;
		}

		@include media-breakpoint-down('sm') {
			margin-bottom: 1.875em;
		}

		.owl-item > & {
			margin-bottom: 0;
		}

		&-id {
			margin-bottom: .5em;
			text-align: right;
		}

		&-thumbnail {
			margin-bottom: 0;
		}

		&-link {
			display: block;
			position: relative;
		}

		&-sale {
			position: absolute;
			left: 0;
			top: 1em;
			padding: .05em .5em .2em;
			color: $white;
			background-color: $secondary;

			@include media-breakpoint-up('lg') {
				font-size: .875rem;
			}

			@include media-breakpoint-down('md') {
				font-size: .75rem;
			}
		}

		&-main {
			padding-bottom: 1.25em;
			font-weight: $font-weight-semibold;
			border-bottom: 1px solid $border-color;

			@include media-breakpoint-up('md') {
				margin-top: 2em;
			}

			@include media-breakpoint-down('sm') {
				margin-top: 1.25em;
			}

			@include media-breakpoint-up('sm') {
				min-height: 6em;
			}
		}

		&-title {
			display: -webkit-box;
			max-height: 2.5em;
			text: {
				decoration: none;
				overflow: ellipsis;
			}
			color: $gray-900;
			line-height: 1.2;
			-webkit-line-clamp: 2;
			overflow: hidden;
			-webkit-box-orient: vertical;

			@include media-breakpoint-up('md') {
				font-size: 1.125rem;
			}

			@include media-breakpoint-down('sm') {
				font-size: 1rem;
			}
		}

		&-price {
			margin-top: .5em;
			color: $secondary;

			@include media-breakpoint-down('sm') {
				font-size: .875rem;
			}
		}

		&-chrs {
			margin-top: 1.3em;

			&-item {
				margin: .5em 0;
				font-weight: $font-weight-medium;
				color: lighten($body-color, 10%);

				@include media-breakpoint-down('sm') {
					font-size: .875rem;
				}

				&._metro {
					position: relative;
					padding-left: $grid-gutter-width;

					&::before {
						$size: 17px;

						display: block;
						position: absolute;
						left: 0;
						top: .3em;
						width: $size;
						height: $size;
						vertical-align: top;
						content: '';
						background: {
							repeat: no-repeat;
							image: url('#{$img-dir}metro.png');
							size: $size auto;
						}
					}
				}
			}
		}
	}
}