.promo {
	&-container {
		color: $white;
		background: {
			color: $gray-700;
			repeat: no-repeat;
			size: cover;
		}

		@include media-breakpoint-down('md') {
			padding: {
				top: 130px;
				bottom: 80px;
			}
		}

		@include media-breakpoint-between('lg', 'xl') {
			padding: {
				top: 290px;
				bottom: 100px;
			}
		}

		@include media-breakpoint-up('xl') {
			padding: {
				top: 290px;
				bottom: 200px;
			}
		}
	}

	&-inner {
		max-width: 700px;
	}

	&-title,
	&-subtitle {
		line-height: 1.2;
	}

	&-title {
		font-weight: $font-weight-semibold;

		@include font-size(2.5rem);
	}

	&-subtitle {
		margin-top: .8em;
		font-weight: $font-weight-medium;
		opacity: .65;

		@include font-size(1.625rem);
	}

	&-form {
		margin-top: 3.5em;

		.input-group-append {
			margin-left: 3px;
		}
	}
}