.widget {
	&._md {
		margin: 2.5em 0;
	}

	@include media-breakpoint-up('md') {
		&._lg {
			margin: 6.25em 0;
		}
	}

	@include media-breakpoint-down('sm') {
		&._lg {
			margin: 2.5em 0;
		}
	}

	&-title {
		&::after {
			display: block;
			margin: .7em 0 1.8em;
			width: 2.5rem;
			content: '';
			border-top: 3px solid $secondary;
		}
	}
}