mixin nav(type)
	- var _type = type ? ' _' + type : '';

	nav(class='navbar-top navbar navbar-expand-lg'+ _type)
		.container
			.collapse.navbar-collapse.justify-content-between.show-control#navbarSupportedContent
				+menu([{title: 'О компании'}, {title: 'Арендный бизнес'}, {title: 'Коммерческая недвижимость', items: ['Офисы', 'Торговые площади', 'Склады/Производство']}, {title: 'Услуги'}, {title: 'Вакансии'}, {title: 'Контакты'}], 'navbar-nav' + _type)

				.navbar-call.d-lg-none
					include ../header/_tel.pug
					include ../header/_call-button.pug

				include ./_social.pug