.navbar-social
	a(class='navbar-social-item' + _type href='/')
		include ./i/tw.svg
	a(class='navbar-social-item' + _type href='/')
		include ./i/fb.svg
	a(class='navbar-social-item' + _type href='/')
		include ./i/vk.svg
	a(class='navbar-social-item' + _type href='/')
		include ./i/in.svg