mixin pagination()
	nav.navigation.pagination
		.nav-links
			a.page-numbers(href='/') 1
			a.page-numbers(href='/') 2
			span.page-numbers.current(href='/', aria-current='page') 3
			a.page-numbers(href='/') 4
			a.page-numbers(href='/') 5
			span.page-numbers.dots …
			a.page-numbers(href='/') 26