//
// Image Directory
//

$img-dir: '../i/';


//
// Fonts Variables
//

$font-dir:	             '../fonts/';

$font-main-family:       'Lato';
$font-sub-family:        'Montserrat';

$fonts:	(
	( $font-main-family, 'regular',    normal, 400, 20191112 ),
	( $font-main-family, 'italic',     italic, 400, 20191112 ),
	( $font-main-family, 'medium',     normal, 500, 20191112 ),
	( $font-main-family, 'semibold',   normal, 600, 20191112 ),
	( $font-main-family, 'bold',       normal, 700, 20191112 ),
	( $font-sub-family,  'semibold',   normal, 600, 20191112 ),
	( $font-sub-family,  'extrabold',  normal, 800, 20191112 ),
);


//
// Icons
//

$advantage-icons: ( 'consult', 'search', 'compare', 'sale' );